/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * General Styles
 */
body {
	margin: 0;
    background: #afbed2;
    min-width: 900px;
}

/*
 * Main Header and Logo Styles
 */
#main-header {
	color: white;
	font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
	
	background: #255a9e; /* Old browsers */
	background: -moz-linear-gradient(top, #255a9e 0%, #02377b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#255a9e), color-stop(100%,#02377b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #255a9e 0%,#02377b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #255a9e 0%,#02377b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #255a9e 0%,#02377b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #255a9e 0%,#02377b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#255a9e', endColorstr='#02377b',GradientType=0 ); /* IE6-9 */
	
	min-height: 125px;
	border-bottom: 1px solid black;
	
    box-shadow: 1px 1px 3px #666;
    
    overflow: hidden;
}

#heading {
	padding: 30px 0 10px;
    float: left;
}

#heading h1, #heading p{
	margin: 0 0 0 224px;
}

#heading p {
    font-size: 1.5em;
}

#search {
    padding-top: 30px;
    float: right;
}

#search input {
    margin-right: 50px;
}

#logo {
	position: absolute;
	left: 50px;
	top: 0;
    box-shadow: 1px 1px 3px #333;
}

/*
 * Navigation Sidebar Styles
 */
#right-nav {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    float: right;
    width: 250px;
    margin-top: 40px;
    margin-right: 50px;
}

#right-nav h2:first-child {
    border-top: 1px solid #888; 

    /* Only have rounded corners on the first heading of the sidebar */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#right-nav h2 {
    background: #999999; /* Old browsers */
    background: -moz-linear-gradient(top, #999999 0%, #666666 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#666666)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #999999 0%,#666666 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #999999 0%,#666666 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #999999 0%,#666666 100%); /* IE10+ */
    background: linear-gradient(to bottom, #999999 0%,#666666 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#666666',GradientType=0 ); /* IE6-9 */

    color: white;
    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding: 0 10px;
    
    border-left: 1px solid #888; 
    border-right: 1px solid #888; 
    border-bottom: 1px solid #888; 
    
    box-shadow: 1px 1px 3px #666, inset 0 1px 0 #bcbcbc;
}

#right-nav > ul {
    box-shadow: 1px 1px 3px #666; /* only the first level menu items should cast shadow */
}

#right-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#right-nav .menu-item,
#right-nav .inactive {
    background: #ddd;
}

#right-nav .inactive {
    color: grey;
    line-height: 15px;
	padding: 8px 10px;
	border-bottom: 1px solid #888;
}

#right-nav .menu-item:hover {
    background-color: #bbb;
}

#right-nav .current {
    background-color: #bbb;
}

#right-nav .menu-item-heading {
	color: #E60;
    line-height: 15px;
	padding: 8px 10px;
	border-bottom: 1px solid #888;
}

#right-nav .menu-item-heading  a {
    display: block;
    width: 100%;
}

#right-nav .menu-item-heading  a:link,
#right-nav .menu-item-heading  a:visited {
    color: #E60;
    text-decoration: none;
}

.menu-item-title {
	font-weight: bold;
}

.menu-item-desc {
    font-size: 12px;
}

#right-nav .submenu {
    background-color: #ccc;
    border-bottom: 1px solid #888;
    padding: 10px 0;
}

#right-nav .subitem {
    margin-left: 20px;
    font-size: 14px;
}

#right-nav .subitem a:link,
#right-nav .subitem a:visited {
    color: #333;
    text-decoration: none;
}

#right-nav .subitem a:hover{
    text-decoration: underline;
}

/*
 * Main Content Styles
 */
#content {
    margin: 40px 320px 0 50px;
}

#content header {
    background: #255a9e; /* Old browsers */
	background: -moz-linear-gradient(top, #255a9e 0%, #02377b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#255a9e), color-stop(100%,#02377b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #255a9e 0%,#02377b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #255a9e 0%,#02377b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #255a9e 0%,#02377b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #255a9e 0%,#02377b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#255a9e', endColorstr='#02377b',GradientType=0 ); /* IE6-9 */

    padding: 0 10px;
    
    border: 1px solid #255a9e;    
    border-radius: 5px;
    
    box-shadow: 1px 1px 3px #666, inset 0 1px 0 #4589e0;
}

#content header h1 {
    color: white;
    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

article h2 {
    background: #999999; /* Old browsers */
    background: -moz-linear-gradient(top, #999999 0%, #666666 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#666666)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #999999 0%,#666666 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #999999 0%,#666666 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #999999 0%,#666666 100%); /* IE10+ */
    background: linear-gradient(to bottom, #999999 0%,#666666 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
    
    color: white;
    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
    padding: 0 10px;
    margin: 20px 0 0;
    
    border: 1px solid #888;    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    box-shadow: 1px 1px 3px #666, inset 0 1px 0 #bcbcbc;
}

.content-block{
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    box-shadow: 1px 1px 3px #666;
}

.content-block a:link,
.content-block a:visited {
    color: #E60;
    text-decoration: none;
}

.content-block a:hover {
    text-decoration: underline;
}

.return-to-top-link {
    border-top: 1px solid #aaa;
    padding-top: 10px;
    overflow: hidden;
}

.return-to-top-link a {
    display: block;
    float: right;
    background: url("../image/return-to-top-icon.png") no-repeat;
    padding-left: 25px;
}

code {
	color: #06A;
}

#bottom-nav {
    background: #255a9e; /* Old browsers */
	background: -moz-linear-gradient(top, #255a9e 0%, #02377b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#255a9e), color-stop(100%,#02377b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #255a9e 0%,#02377b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #255a9e 0%,#02377b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #255a9e 0%,#02377b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #255a9e 0%,#02377b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#255a9e', endColorstr='#02377b',GradientType=0 ); /* IE6-9 */
    
    color: white;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
    margin: 20px 0;
      
    border: 1px solid #255a9e;    
    border-radius: 5px;
    
    box-shadow: 1px 1px 3px #666, inset 0 1px 0 #4589e0;
}

#bottom-nav  a:link,
#bottom-nav  a:visited {
    color: white;
    text-decoration: none;
}

#bottom-nav a:hover {
    text-decoration: underline;
}

#validators {
	text-align:center;
}

#validators img{
	width:64px;
	height:64px;
}

#copyright {
    text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
